
.header__logo{
    float: left;
}
.header__searchbox{
    float: left;
}
.header__login--color{
    background-color: white;
    color: #2874f0 ;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    float: left;
}
.header__dropdown{
    color: white;
    font-weight: 600;
    float: left;
}
.header__cart{
    color: white;
    float: left;
}
.header__carttext{
    font-family:  'Roboto', sans-serif;
}
.row1__dropdown{
    float: left;
    color: black;
    font-family:  'Roboto', sans-serif;
}
.slider__image{
    width: 100%;
}
.slider{
    margin-top: 10px;
}
.bg{
    background-color: rgb(243, 241, 241);
    
}
.bg-color{
    background-color: white;
}
.section3_heading{
    float: left;
}
.timer{
    float: left;
}
.section3__button{
    
    font-family:  'Roboto', sans-serif;
   
    background-color: rgb(40, 116, 240);
}
.section4__row{
    background-color: white;
}
.card__heading{
    font-family:  'Roboto', sans-serif;
    font-weight: 500;
}
.card__text{
    font-family:  'Roboto', sans-serif;
}
.card__text--color{
    color:rgb(56, 142, 60);
}
.card__brief{
    opacity: 0.6;
}
.section5__img{
    float: left;
}
.article__heading{
   color: rgb(135, 135, 135);
   font-weight: 600;
   font-family:  'Roboto', sans-serif;
}
.article__text{
    color: rgb(135, 135, 135);
    font-family:  'Roboto', sans-serif;
}
.footer__row{
    background-color:#172337;
}
.address{
    font-family: 'Roboto', sans-serif; 
}
.tocolor{
    color: #2874f0;
}
.fk-organism-cardcollection{
    font-family: 'Roboto', sans-serif;
}
 
.banner__button{
    background-color: rgb(199, 9, 9);
    color: white;
    border-style: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
header{
    z-index: 1;
}
.header__phone{
    z-index: 1;
}




/*----------small----------*/
@media screen and (max-width: 380px)
{
.section3__container{
    margin-top: 7px !important;
}
.header__row{
    background-color: #2874f0;
    height: 22px;
    display: none;
}
.section1sm__imgs{
    width: 70px;
    height: 62px;
    float: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.slider__pad{
    display: none;
}
.sec1{
    display: none;
}
.header__logo--size{
    height: 22px;
    margin-bottom: 10px;
}
.header__logo{
    max-width: 30px;
    margin-left: 71px;
}
.header__search{
    height:15px;
    margin-top: 3px;
    margin-left: -10px;
    width: 115px !important;
    border: none;
}

::placeholder{
    font-size: 13px;
    margin-bottom: 10px !important;
    margin-left: -5px;
}
.section3sm__img{
    float: left;
    width: 33%;
}
.section3sm__img--pad{
    margin-left: 0px;
}
.fk-organism-tablecollection {
    background-color: rgb(153, 227, 242);
    height: 476px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-family:'Roboto', sans-serif;

  }
  .fk-molc-text {
    width: 375px;
    height: 83px;
    margin: 0px;
    padding: 14px 8px 4px 8px;
    display: inline;
  }
  .fk-atom-h2 {
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-left: 15px;
    margin-top: 6px;
  }
  .fk-atom-btn {
    height: 34px;
    width: 71px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    display: inline;
    margin-left: 168px;
    background-color: #2874f0;
    border-style: none;
  }
  .fk-molc-cards {
    margin: 9.5px;
    margin-right: 9.5px;
    margin-top: 10px;
    height: 402px;
    background-color: white;
  }
  .fk-card {
    padding: 0px;
    height: 187px;
    width: 174px;
    
  }
  .fk-card--body {
    padding: 16px 16px 12px 16px;
    border: none;
    border-radius: 0px;
    background-color: white;
  }
  .fk-card-atom-img {
    height: 120px;
    width: 92px;
    margin-left: 27px;
  }
  .fk-card-atom-caption {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 4px;
  }
  .fk-card-atom-caption--green {
    font-size: 14px;
    color: rgb(56, 142, 60);
  }
  .fk-hr {
    height: "1px";
    color: #c7bfbf;
    margin-top: 15px;
  }

.fk-molc-table{
    display: table;
    border-color: rgb(128, 128,128);
    font-size: 12px;
    margin-left: 8.5px;
    margin-right: 9.5px;
    width: 356px;
}
.fk-tablerow{
    border-color: rgb(128, 128,128);
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px ;
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px ;
}
.fk-tablecol{
    border: 1px solid rgb(232,232,232);
    vertical-align :middle;
    width: 178px;
    height: 202px;
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px ;
    border-top-left-radius: 2px ;
    background-color: white;

}
.form-control{
    font-size: 8px;
    padding: 6px 6px;
}
.headersm__row{
    background-color: #2874f0;
    height: 101px;
}
.headersm__ham{
    color: white;
    font-size: 15px;
    margin: 19px;
    margin-left: 29px;
}
.slider__image{
    height: 160px !important;
}

.logosm{
    margin-left: -12px;
}
.headersm__cart{
    color: white;
    font-size: 18px;
    margin: 19px;
    margin-left: 145px;
}
.headersm__search{
    margin-top: -4px;
    margin-left: 23px;
    width: 358px !important;
    height: 40px;
    
}
.headersm__searchbox{
    width: 250px;
    
}
.headersm__login{
    color: rgb(234, 234, 234);
    font-size: 15px;
    margin-left: 2px;
    font-weight: 500;
}
.header__login{
    width: 48px;
    height: 12px;
    font-size: 6px;
    padding: 0px;
    border-radius: 0;
    margin-left:-8px;
    margin-top: 5px;
    border-style: none;

}
.header__dropdown{
    margin-left: 1px;
    margin-top: 0px;
    font-size: 6px;
    
}
.header__cart{
    margin-left: 4px;
    margin-top: 8px;
    font-size: 6px;
    
}
.header__carttext{
    
    font-size: 6px;
    font-weight: 400;
    padding-left: 2px;
}

.row1__dropdown{
  
    padding-left: 0px;
    padding-top: 8px;
    font-weight: 300;
    font-size: 5px;
}
.row1__dropdown--spacing{
    margin-left: -75px;
}
.slider__pad{
    margin: 1px;
    padding: 1px;
    width: 372px;
}
.section3_heading{
    font-size: 9px;
    font-family:  'Roboto', sans-serif;
    margin-left: 6px;
    margin-top: 7px;

}
.section3__container{
    margin-top: 3px;
    margin-left: 2px;
    width: 370px;
}
.bg{
   width: 380px;
    
}
.timer{
    margin-left:16px;
    margin-top: 9px;
    font-weight: 100;
    font-size: 6px;
    color: rgb(127, 127, 127);
}
.section3__button{
    margin-top: 5px;
    width: 40px;
    height: 15px;
    margin-left: 192px;
    border-radius: 1px;
    font-size: 5px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    
    
}
.card__md{
    display: none !important;
}
.card__sec4{
    float: left;
    width: 64px;
}

.login{
    height:120px;
  }
  .login__text{
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 7px;
  }
  .login__button{
    width: 95px;
    height: 35px;
    border-radius: 0%;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 500;
  }
  .login__button--orange{
    background-color: rgb(251, 100, 27);
  }
  .sectionsm5__pad{
      margin-top: 15px !important;
  }
.smnone{
    display: none;
}
.fk-banner-heading{
    margin-left: 15px;
    font-weight: 600;
    font-size: 15px;
}
.fk-banner-description{
    font-size: 11px;
    margin-left: 16px;
    margin-top: -8px !important;
}
.sectionsm5__image{
    margin-left: 3px;
}
.images2{
    float: left;
}
  

}

/*-----------medium-------------*/
@media screen and (min-width: 700px) and (max-width: 1025px)
{
.section1sm{
    display: none;
}
.header__row{
    background-color: #2874f0;
    height: 44px;
}
.header__logo--size{
    height: 44px;
}
.headersm__row{
    display:none;
}
.header__logo{
    max-width: 62px;
    margin-left: 144px;
}

.header__search{
    height:29px;
    margin-top: 8px;
    margin-left: -8px;
    width: 238px !important;
    border: none;
}
::placeholder{
    font-size: 11px;
    padding-top:-5px !important;
}
.header__login{
    width: 95px;
    height: 25px;
    font-size: 6px;
    padding: 0px;
    border-radius: 0;
    margin-top: 10px;
    margin-left: 2px;
    border-style: none;
    font-size: 12px;

}
.header__dropdown{
    margin-left: 19px;
    margin-top: 7px;
    font-size: 12px;
    
}
.header__cart{
    margin-left: 21px;
    margin-top: 15px;
    font-size: 13px;
    
}
.header__carttext{
    
    font-size: 12px;
    font-weight: 400;
    padding-left: 4px;
}
.row1{
   
    height: 32px;
}
.row1__dropdown{
  
    padding-left: 0px;
    padding-top: 8px;
    margin-left: -2px;
    font-weight: 500;
    font-size: 10.8px;
}
.row1__dropdown--spacing{
    margin-left: 18px;
}
.slider__pad{
    margin: 5px;
    padding: 1px;
    width: 758px;
    
    
}
.slider__image{
    height: 210px !important;
    
}
.section3_heading{
    font-size: 17px;
    font-family:  'Roboto', sans-serif;
    margin-left: 16px;
    margin-top: 15px;

}
.section3__container{
    margin-top: 8px;
    margin-left: 0px;
    width: 755px;
}
.bg{
   width: 780px;
    
}
.timer{
    margin-left:45px;
    margin-top: 15px;
    font-weight: 100;
    color: rgb(127, 127, 127);
}
.section3__button{
    margin-top: 12px;
    width: 75px;
    margin-left: 388px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
    
}
.card__sec4{
    float: left;
    width: 154px;
}

.section4__row{
    width: 772px;
}
.section4__container{
    padding: 5px;
    padding-top: 0;
    margin: 1px;
    margin-right: 0;
}
.section4__carousel--width{
    width:755px;
}
.card__heading{
    padding-top: 12px;
    font-size: 13px;
}
.card__text{
    font-size: 12px;
    padding-top: 5px;
}
.card__brief{
    font-size: 12px;
}
.card__heading--pad{
    padding-top: 19px;
}
.card__md{
    display: none !important;
}
html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.section5__image--1{
    width: 240px;
    height: 150px;
}
.section5__image--2{
    margin-left: -20px;
    width: 240px;
    height: 150px;
}
.section5__image--3{
    margin-left: -20px;
    width: 240px;
    height: 150px;
}
.section5__img{
    margin-top: 8px;
}
.section11__row{
    background-color: white;
    width: 788px;
    margin-left: -10px;
    margin-top: 15px;
    
}
.article__heading{
    font-size: 11px;
    padding-left: 20px;
}
.article__text--size{
    font-size: 10px;
    padding-left: 20px;
    max-width: 750px;
    line-height: 15px;
    opacity: 0.8;
}
.article__text{
    font-size: 9px;
    padding-left: 20px;
    max-width: 750px;
}
.list{
    float: left;
    height: 179px;
    width: 80.141px;
    margin-top: 24px;
    
}
.list__wholepad--first{
    margin-left: 50px;
}
.list__second{
    width:95px;
    margin-left: -15px;
}
.list3__pad{
    margin-top: 25px;
    margin-left: -25px;
}
.list4__pad{
    margin-top: 25px;
    margin-left: -15px;
}
.list__title{
    font-size: 9px;
    font-weight: 400;
    letter-spacing: -0.2px; 
    line-height: 16.8px;
    color: #878787;
    display: contents;
    
}
.list__item{
    letter-spacing: -0.2px;
    line-height: 17.5px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 9px;
    font-weight: 400;
    max-width: 60px;
}
.list__item--pad{
    margin-top: 9px;
   
}
.address{
    font-size: 11px;
    line-height: 6.8px;
    
    height: 133px;
    width: 287.469px;
    display: flex;
    padding-top: 9px;
    color: white;
}
.list--width{
    border-left:1px solid rgb(69, 77, 94);
    width:17em;
    height: 125px;
    
    
    
}
.list--width2{
    width: 16em;
    padding-left: 25px;
}
.footer-bottom{
    border-top: 1px solid #454d5e;
    padding: 25px 85px;
    margin-top: 40px;
    width: 100%;
}
._2bn{
    display: inline-block;
    text-decoration: none !important;
    padding-right: 31px;
    margin-left: -80px;
    margin-right: 55px;
    font-size: 9px;
    color: white;
    float: left;
}
._2bn__pay{
    display: none;
}
.footer__row{
   margin-left: -18px;
   width: 790px;
}
.list__wholepad{
    
}
.list__wholepad1{
    margin-left: 0px;
}
.list__wholepad2{
    margin-left: -35px;
}

.footer__bottom--links{
    text-decoration: none;
    color: white;
    
}
.section6__button--pad{
    margin-left: 499px;
}
.last2bn{
    margin-right: 0px;
    margin-top: 1px;
}
._2bn__payment{
    width: 0px;
    margin-left: -45px !important;
    height: 3px;
}
.card__image--thispad{
    margin-left: 15px;
}
.section4__container--pad{
    margin: -5px;
    
}
.section3__container--pad{
    margin: 0px;
    width: 755px;
}
.banner-left {
    position: absolute;
    transform: translate(2%, -226%);
    width: fit-content;
    margin-left: 10px;
    margin-top: 62px;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: 600;
}
.banner-center {
    position: absolute;
    transform: translate(2%, -226%);
    width: fit-content;
    margin-left:-5px;
    margin-top: 62px;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: 600;
}
.uptopad{
    margin-top: -6px;
}
.banner-last {
    position: absolute;
    transform: translate(2%, -226%);
    width: 550px;
    margin-left: -10px;
    margin-top: 62px;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: 600;
}
.section3__container--sec10{
    margin-left:-6px;
    width: 755px;
}



    
    
}    


/*-----------LArge-----------------*/
@media screen and (min-width: 1027px)
{
.section1sm{
    display: none;
}
.header__row{
    background-color: #2874f0;
    height: 51px;
    width:1280px;
}

.header__logo--size{
    height: 51px;
}
.header__logo{
    max-width:82px;
    margin-left: 167px;
}
.header__search{
    height:35px;
    margin-top: 8px;
    margin-left: -7px !important;
    width: 505px !important;
    border: none;
}
.headersm__row{
    display:none;
}

::placeholder{
    font-size: 12px;
    color: black;
    padding-top:-5px !important;
}
.header__login{
    width: 110px;
    height: 29px;
    font-size: 14px !important;
    padding: 0px;
    border-radius: 0;
    margin-top: 10px;
    margin-left: -38px;
    border-style: none;
    font-size: 12px;

}
.header__dropdown{
    margin-left: 23px;
    margin-top: 8px;
    
}
.header__cart{
    margin-left: 26px;
    margin-top: 18px;
    font-size: 15px;
    
}
.header__carttext{
    
    font-size: 14px;
    font-weight: 600;
    padding-left: 4px;
}
.row1{
    border-bottom: black;
    height: 88px;
}
.row1__dropdown{
    float: left;
    color: black;
    font-family:  'Roboto', sans-serif;
    padding-left: 24px;
    padding-top: 8px;
    font-weight: 500;
    font-size: 13px;
}
.row1__dropdown--spacing{
    margin-left: 60px;
}
.slider__pad{
    margin: 5px;
    padding: 1px;
    width: 1230px;
    margin-top: 0px !important;
    
    
}
.slider__image{
    height: 250px !important;
}
.section3_heading{
    font-size: 20px;
    font-family:  'Roboto', sans-serif;
    margin-left: 18px;
    margin-top: 16px;

}
.section3__container{
    margin-top: 10px;
    margin-left: 6px;
    width: 1228px;
}
.timer{
    margin-top:19px;
    
    margin-left: 50px;
    font-size: 15px;
    color: rgb(127, 127, 127);
}
.section3__button{
    margin-top: 15px;
    width: 85px;
    margin-left: 820px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 500;
    
}
.card__sec4{
    float: left;
    width: 175px;
    padding-left: 30px;
    margin-top: 35px;
}
.section4__row{
    width: 1380px;
}
.section4__container{
    padding: 5px;
    padding-top: 0;
    margin: 1px;
    margin-right: 0;
}
.section4__carousel--width{
    width:1228px;
}
.card__heading{
    padding-top: 12px;
    font-size: 13px;
}
.card__text{
    font-size: 12px;
    padding-top: 5px;
}
.card__brief{
    font-size: 12px;
}
.card__heading--pad{
    padding-top: 19px;
}
.section5__img{
    width: 30%;
}
.section5__image{
    margin-top: 16px;
    
    
}
.section5__image--1{
    width: 398px;
    height: 220px;
}
.section5__image--2{
    padding-left: 50px;
    width: 448px;
    height: 220px;
}
.section5__image--3{
    margin-left: 100px;
    width: 400px;
    height: 220px;
}
.section6__button--pad{
    margin-left: 940px;
}
.card:hover img{
    transform: scale(1.05);
}
.section11__row{
    background-color: white;
    width: 1236px;
    margin-left: -18px;
    margin-top: 15px;
    
}
.article__heading{
    padding-left: 19px;
    font-size: 13px;
    letter-spacing: -0.5px;
}
.article__text{
    padding-left: 19px;
    font-size: 10px;
    max-width: 1230px;
}
.article__text--size{
    font-size: 11px;
    line-height: 19px;
    color: rgb(109, 108, 108);

}
.list{
    float: left;
    height: 179px;
    width: 10.141px;
    margin-top: 35px;
    
}

.list3__pad{
    margin-left: 45px;
}
.list__title{
    font-size: 11px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 16.8px;
    color: #878787;
    display: contents;
    
}
.list__second{
    margin-left: 35px;
}
.list__item{
    letter-spacing: -0.2px;
    line-height: 21.5px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    width:200px;
}
.list__item--pad{
    margin-top: 8px;
}
.list__wholepad--first{
    margin-left: -65px;
}
.address{
    font-size: 11px;
    line-height: 6.8px;
    padding-right: 25px;
    height: 133px;
    width: 287.469px;
    display: flex;
    padding-top: 9px;
    color: white;
}
.list--width{
    border-left:1px solid rgb(69, 77, 94);
    width:17em;
    height: 125px;
    padding-left: 25px;
    margin-left: 179px;
}
.list--width2{
    width: 16em;
    padding-left: 25px;
}
.footer-bottom{
    border-top: 1px solid #454d5e;
    padding: 25px 85px;
    margin-top: 40px;
    width: 100%;
}
._2bn{
    display: inline-block;
    text-decoration: none !important;
    padding-right: 31px;
    margin-left: -23px;
    margin-right: 26px;
    font-size: 12px;
    color: white;
}
.footer__row{
   margin-left: -18px;
   width: 1240px;
}
.list__wholepad{
    padding-left: 120px;
    
}
.list__wholepad1{
    padding-left: 23px;
    margin-bottom: 1px;
}
.list__wholepad2{
    padding-left: 30px;
}

.footer__bottom--links{
    text-decoration: none;
    color: white;
}



.card__image--thispad{
    margin-top: 10px;
}
.section3__con--sec9{
    margin-left: 0px !important;
    width: 1227px;
}
.section3__con--sec10{
    margin-left: -5px ;
    width: 1227px !important;
}
.section3__container--sec10{
    margin-left: -10px;
    width: 1227px;
}
.section3__container--sec9{
    margin-left: -4px;
}
.section5-container{
    margin-top: -7px;
}
._2bn__payment{
    display: none;
}
.banner-left {
    position: absolute;
    transform: translate(2%, -226%);
    width: fit-content;
    margin-left: 12px;
    margin-top: 32px;
    font-size: 18px;
    letter-spacing: 0.2px;
}
.banner-center {
    position: absolute;
    transform: translate(2%, -226%);
    width: fit-content;
    margin-left: 62px;
    margin-top: 32px;
    font-size: 18px;
    letter-spacing: 0.2px;
}
.banner-last {
    position: absolute;
    transform: translate(2%, -226%);
    width: 550px;
    margin-left: 108px;
    
    margin-top: 32px;
    font-size: 18px;
    letter-spacing: 0.2px;
}
  

}
    